@import 'tailwindcss';

/* Css Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-body);
  background-image: url('/login-bg.png');
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Design tokens */
@theme {
  --color-black: hsl(247, 75%, 5%);
  --color-white: hsl(240, 60%, 99%);
  --color-primary: hsl(26, 91%, 58%);
  --color-secondary: hsl(210, 18%, 20%);
  --color-accent: hsl(37, 97%, 62%);
  --color-grey-disabled: hsl(0, 0%, 79%);
  --color-grey-title: hsl(0, 0%, 34%);

  --font-heading: Sora, serif;
  --font-body: Heebo, serif;

  --text-sz-sm: 0.75rem;
  --text-sz-base: 1rem;
  --text-sz-xl: 1.333rem;
  --text-sz-2xl: 1.777rem;
  --text-sz-3xl: 2.369rem;
  --text-sz-4xl: 3.158rem;
  --text-sz-5xl: 4.21rem;
}
